 
.Profile{
    background-color: rgb(228, 241, 241);
    width: 50%;
    margin: 10px;
   
    
    
    
    



}
.item{
    border: 1px solid rgb(238, 232, 232);
    background-color: rgb(176, 199, 218);
    padding: 30px;
    margin: 10px;

}
img { 
    width: 200px;
    border-radius: 90px;
}
h1{ 
    color: rgb(10, 1, 17);
  font-family: 'Roboto', sans-serif;}
h3{
font-family: 'Roboto', sans-serif;
color: rgb(27, 26, 26);

}
p{
    font-family: 'Roboto', sans-serif;
color: rgb(46, 44, 44);
}